body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  background-color: #f2f2f2;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.page-wrapper {
  width: 320px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-wrapper {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-wrapper {
    width: 1200px;
  }
}
.button {
  font-family: "PT Sans", "Arial", sans-serif;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button--send {
  width: 280px;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 17px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #81b3d2;
}
.button--send:hover {
  background-color: #669ec0;
}
.button--send:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button--search {
  width: 280px;
  padding-top: 16px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0;
  text-decoration: none;
  font-size: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #81b3d2;
}
.button--search:hover {
  background-color: #669ec0;
}
.button--search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button--ok {
  font-size: 21px;
  padding-top: 17px;
  padding-right: 78px;
  padding-bottom: 17px;
  padding-left: 78px;
}
.button--ok:hover {
  background-color: #669ec0;
}
.button--ok:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button--close {
  width: 100%;
  padding-top: 17px;
  padding-right: 65px;
  padding-bottom: 17px;
  padding-left: 65px;
  font-size: 21px;
}
.button--close:hover {
  background-color: #669ec0;
}
.button--close:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button--disabled {
  width: 280px;
  padding-top: 16px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0;
  text-decoration: none;
  font-size: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .button--ok {
    width: 100%;
  }
  .button--search {
    width: 460px;
  }
  .button--send {
    width: 50%;
  }
  .button--disabled {
    width: 460px;
  }
}
.main-nav {
  position: relative;
  padding-bottom: 56px;
  background-color: #ffffff;
}
.main-nav__list {
  display: block;
}
.main-nav__logo {
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
}
.main-nav__toggle {
  position: absolute;
  bottom: 18px;
  right: 20px;
  z-index: 10;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 20px;
  z-index: 10;
  display: block;
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
.main-nav--opened .main-nav__toggle:hover {
  background-color: #81b3d2;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list {
    display: none;
  }
  .main-nav--opened .site-list {
    display: block;
  }
  .main-nav--opened .main-nav__logo {
    top: 267px;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__logo {
    top: 267px;
  }
  .main-nav--nojs .site-list {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav {
    position: relative;
    margin: 0;
    padding-bottom: 0;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
  .main-nav--closed .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    background-color: #ffffff;
  }
  .main-nav__logo {
    top: 51px;
  }
  .main-nav__logo-image {
    width: 188px;
    height: 96px;
  }
}
.page-header__image {
  height: 390px;
  padding-top: 90px;
  background-color: #b2b3ad;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 104%, 768px 390px;
  background-repeat: no-repeat, no-repeat;
  background-position: -1px bottom, center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__image {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}
.page-header__text-logo {
  display: block;
  width: 280px;
  height: 216px;
  margin: 0 auto;
}
.page-header__image--other-page {
  height: 160px;
  padding-top: 52px;
  background-color: #b2b3ad;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 104%, 768px 390px;
  background-repeat: no-repeat, no-repeat;
  background-position: -2px bottom, bottom;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__image--other-page {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}
.page-header__text-logo--other-page {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-header__image {
    height: 520px;
    padding-top: 76px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 100%, cover;
    background-position: 0 bottom, center;
  }
  .page-header__text-logo {
    display: block;
    width: 460px;
    height: 350px;
    margin: 0 auto;
  }
  .page-header__image--other-page {
    height: 290px;
    padding-top: 93px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 100%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 bottom, bottom;
  }
  .page-header__text-logo--other-page {
    display: block;
    width: 460px;
    height: 80px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__image {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__image--other-page {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .page-header__image {
    height: 520px;
    padding-top: 80px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 100%, cover;
    background-position: bottom, center;
  }
  .page-header__image--other-page {
    height: 300px;
    padding-top: 100px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 100%, cover;
    background-position: bottom;
  }
  .page-header__text-logo {
    display: block;
    width: 460px;
    height: 350px;
    margin: 0 auto;
  }
  .page-header__text-logo--other-page {
    width: 460px;
    height: 80px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header__image {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header__image--other-page {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item {
  background-color: #81b3d2;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.site-list__item:first-child {
  border-top: none;
}
.site-list__item:last-child {
  -webkit-box-shadow: inset 0 -10px 5px -8px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 -10px 5px -8px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
.site-list__item:hover:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.site-list__link {
  display: block;
  padding: 7px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.site-list__link:hover {
  background-color: #669ec0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.site-list__link:active {
  opacity: 0.3;
  background-color: #5496bd;
}
@media (min-width: 768px) {
  .site-list {
    background-color: #ffffff;
  }
  .site-list__item {
    width: 20%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    background-color: transparent;
  }
  .site-list__item:last-child {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .site-list__item:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .site-list__item:active {
    background-color: transparent;
  }
  .site-list__item:nth-child(3) {
    margin-left: auto;
  }
  .site-list__link {
    padding: 15px 0;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: transparent;
  }
  .site-list__link:hover {
    background-color: transparent;
    color: #81b3d2;
  }
  .site-list__link:active {
    background-color: transparent;
    color: #000000;
  }
  .site-list__link--current {
    color: #766357;
  }
  .site-list__link--current:active {
    background-color: transparent;
    opacity: 0.3;
  }
  .site-list__link--current:hover {
    color: #604e43;
  }
}
.page-main {
  background-color: #ffffff;
}
.page-main__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.page-main__title--index {
  width: 260px;
}
.page-main__title--photo {
  margin-bottom: 25px;
}
.page-main__title--form {
  margin-bottom: 28px;
}
.page-main__title-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}
.page-main__title-description--photo {
  line-height: 24px;
}
.page-main__title-description--form {
  width: 280px;
  line-height: 24px;
}
.page-main__form {
  margin-bottom: 36px;
  padding-top: 18px;
}
.page-main__title-wrapper {
  padding-top: 39px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  text-align: center;
}
.page-main__title-wrapper--form {
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.page-main__title-wrapper--photo {
  padding-top: 36px;
  padding-right: 24px;
  padding-bottom: 29px;
  padding-left: 24px;
}
@media (min-width: 768px) {
  .page-main__title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }
  .page-main__title-wrapper--photo {
    padding-top: 73px;
    padding-bottom: 70px;
  }
  .page-main__title-wrapper--form {
    padding-top: 72px;
    padding-bottom: 75px;
    border-bottom: none;
  }
  .page-main__title {
    width: 400px;
    font-size: 21px;
    line-height: 26px;
  }
  .page-main__title--photo {
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 30px;
  }
  .page-main__title--form {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }
  .page-main__title-description {
    width: 442px;
  }
  .page-main__title-description--photo {
    width: 430px;
  }
  .page-main__title-description--index {
    width: auto;
  }
  .page-main__title--index {
    width: 460px;
    font-size: 21px;
  }
  .page-main__form {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .page-main {
    background-color: #ffffff;
  }
  .page-main__form {
    padding: 0 120px;
  }
  .page-main__title {
    width: 446px;
    margin-bottom: 26px;
  }
  .page-main__title--photo {
    margin-bottom: 27px;
  }
  .page-main__title--form {
    margin-bottom: 25px;
  }
  .page-main__title-wrapper {
    padding-top: 47px;
    padding-bottom: 52px;
  }
  .page-main__title-wrapper--photo {
    padding-top: 110px;
    padding-bottom: 73px;
  }
  .page-main__title-wrapper--form {
    padding-top: 112px;
    padding-bottom: 61px;
  }
  .page-main__title-description--index {
    width: auto;
  }
}
.advantages {
  text-transform: uppercase;
}
.advantages__item {
  padding-top: 38px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__item-name {
  width: auto;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.advantages__number {
  width: 50px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  padding: 0;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}
.advantages__number--color {
  color: #ffffff;
}
.advantages__item--triangle {
  position: relative;
  padding-top: 58px;
}
.advantages__item--triangle::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  background-image: url("../img/bg-triangle.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 37px;
  z-index: 10;
}
.advantages__item--reset {
  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 30px;
  background-color: #eeeeee;
  color: #333333;
}
.advantages__item-name--reset {
  color: #000000;
}
.advantages__item-details {
  width: 265px;
  margin: 0;
  padding: 0;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}
.advantages__item-details--border {
  width: 256px;
  padding-bottom: 28px;
  color: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.advantages__item-details--noborder {
  border-bottom: 1px solid transparent;
}
.advantages__features {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 38px;
  padding-left: 0;
  list-style: none;
}
.advantages__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .advantages__photo-wrapper {
    width: 512px;
  }
  .advantages__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .advantages__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item--triangle::before {
    display: none;
  }
  .advantages__item-wrapper--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .advantages__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 256px;
    padding-top: 44px;
    padding-right: 45px;
    padding-left: 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .advantages__item-name {
    width: 151px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
  .advantages__number {
    margin-bottom: 20px;
  }
  .advantages__item-details {
    width: 166px;
  }
  .advantages__item--reset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 45px;
    padding-bottom: 44px;
  }
  .advantages__item-name--reset {
    width: 151px;
  }
  .advantages__number--reset {
    margin-bottom: 23px;
  }
  .advantages__item-details--width {
    width: 145px;
  }
  .advantages__item-details--border {
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .advantages__photo-wrapper {
    width: 800px;
    height: 256px;
    background-size: cover;
    overflow: hidden;
  }
  .advantages__photo-positioner {
    position: relative;
    top: -73px;
  }
  .advantages__item {
    width: 400px;
    padding-top: 53px;
  }
  .advantages__item-details {
    width: 270px;
    margin: 0 auto;
  }
  .advantages__item-details--border {
    width: 260px;
  }
  .advantages__item--reset {
    width: 400px;
    padding-top: 47px;
    padding-right: 0;
    padding-bottom: 65px;
    padding-left: 0;
  }
  .advantages__number {
    margin-bottom: 20px;
  }
  .advantages__item-name--reset {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 9px;
  }
  .advantages__item-details--width-desktop {
    width: 290px;
  }
  .advantages__item-details--desktop {
    width: 230px;
  }
  .advantages__item-details--width {
    width: 279px;
  }
}
.features-list:first-child {
  width: 210px;
}
.features-list__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 70px;
}
.features-list__item:last-child {
  margin-bottom: 0;
}
.features-list__item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  width: 40px;
  height: 50px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
.features-list__item--icon-gift::before {
  background-image: url("../img/icon-gift.svg");
  top: -11px;
  left: 24px;
  width: 32px;
}
.features-list__item--icon-burger::before {
  background-image: url("../img/icon-burger.svg");
  top: -1px;
  left: 18px;
  width: 40px;
}
.features-list__item-category {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.features-list__item-recomendation {
  width: 210px;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}
.features-list__break-words {
  display: none;
}
@media (min-width: 768px) {
  .features-list {
    text-align: center;
    margin-bottom: 62px;
  }
  .features-list__item {
    width: 256px;
    padding-top: 155px;
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-list__item-category {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 21px;
  }
  .features-list__item-recomendation--house {
    width: 166px;
  }
  .features-list__item-recomendation--gift {
    width: 169px;
  }
  .features-list__item-recomendation--burger {
    width: 152px;
  }
  .features-list__item--icon-gift {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .features-list__item::before {
    top: 61px;
    left: 90px;
    width: 77px;
    height: 96px;
  }
  .features-list__item--icon-burger::before {
    background-image: url("../img/icon-burger.svg");
    top: 62px;
    left: 87px;
  }
  .features-list__item--icon-gift::before {
    background-image: url("../img/icon-gift.svg");
    width: 62px;
    height: 83px;
    top: 60px;
    left: 96px;
  }
  .features-list__break-words {
    display: block;
  }
}
@media (min-width: 1200px) {
  .features-list {
    margin-bottom: 82px;
  }
  .features-list__item {
    width: 400px;
  }
  .features-list__item-recomendation {
    width: 300px;
    margin-top: 17px;
  }
  .features-list__item::before {
    top: 57px;
    left: 158px;
    width: 78px;
    height: 96px;
  }
  .features-list__item--icon-gift::before {
    background-image: url("../img/icon-gift.svg");
    top: 59px;
    left: 167px;
    width: 62px;
    height: 75px;
  }
  .features-list__item--icon-burger::before {
    background-image: url("../img/icon-burger.svg");
    top: 61px;
  }
  .features-list__break-words {
    display: block;
  }
}
.book {
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 48px;
  padding-left: 20px;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.book__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.book__description {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}
.book__word-wrap {
  display: none;
}
@media (min-width: 768px) {
  .book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 54px;
    padding-right: 0;
    padding-bottom: 57px;
    padding-left: 0;
  }
  .book__title {
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 30px;
  }
  .book__description {
    width: auto;
    margin-bottom: 42px;
  }
  .book__word-wrap {
    display: block;
  }
}
@media (min-width: 1200px) {
  .book {
    padding-top: 57px;
    padding-bottom: 66px;
  }
  .book__description {
    margin-bottom: 46px;
  }
}
.map__image-wrapper {
  position: relative;
  width: 100%;
  height: 350px;
}
.map__image-wrapper::before {
  content: "";
  position: absolute;
  top: 160px;
  left: 147px;
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-map-marker.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.map__ineractive {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 350px;
}
@media (min-width: 768px) {
  .map__image-wrapper {
    width: 100%;
  }
  .map__image-wrapper::before {
    top: 162px;
    left: 370px;
  }
  .map__image {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .map__image-wrapper::before {
    top: 164px;
    left: 586px;
  }
}
.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gallery__item {
  width: 280px;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  border-top: 1px solid #e5e5e5;
}
.gallery__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.gallery__photo-link {
  display: block;
}
.gallery__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery__title-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-right: 0;
  padding-bottom: 19px;
  padding-left: 0;
}
.gallery__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}
.gallery__author {
  font-weight: normal;
  font-style: normal;
  color: #333333;
}
.gallery__button-like {
  background-image: url("../img/icon-like.svg");
  background-position: 0 2px;
  background-repeat: no-repeat;
  padding: 0;
  background-color: #ffffff;
}
.gallery__like-counter {
  padding-left: 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
@media (min-width: 768px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0;
    padding-right: 60px;
    padding-bottom: 0;
    padding-left: 60px;
  }
  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    border: none;
  }
  .gallery__item:last-child {
    border-bottom: none;
  }
  .gallery__item--big {
    width: 648px;
  }
  .gallery__item--small {
    width: 324px;
  }
  .gallery__photo {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .gallery__photo--big {
    max-width: 100%;
    height: auto;
  }
  .gallery__title-description {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    background-color: #f2f2f2;
  }
  .gallery__title-description--bg {
    background-color: #eaeaea;
  }
  .gallery__button-like {
    position: absolute;
    top: 26px;
    right: 37px;
    background-position: 4px 2px;
    background-color: inherit;
  }
  .gallery__button-like--big {
    right: 20px;
  }
  .gallery__button-like--position {
    right: 31px;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .gallery__item {
    position: relative;
  }
  .gallery__title-description {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 360px;
    padding-top: 16px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 22px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  .gallery__title-description--big {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1160px;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  .gallery__item--big {
    width: 1200px;
    height: 400px;
  }
  .gallery__item--small {
    width: 400px;
  }
  .gallery__author {
    color: #ffffff;
  }
  .gallery__button-like {
    right: 38px;
    background-image: url("../img/icon-like-white.svg");
    background-color: rgba(0, 0, 0, 0);
  }
  .gallery__button-like--big {
    right: 21px;
  }
  .gallery__button-like--position {
    right: 30px;
  }
  .gallery__like-counter {
    right: 34px;
    color: #ffffff;
  }
}
.video {
  position: relative;
  margin-bottom: 105px;
  background-color: #ffffff;
}
.video__title-wrapper {
  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 36px;
  padding-left: 40px;
  text-transform: uppercase;
}
.video__title {
  width: 245px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}
.video__poster {
  display: block;
  max-width: 100%;
  height: auto;
}
.video__description {
  text-align: center;
  margin: 0;
  color: #333333;
}
.video__controls {
  position: absolute;
  width: 280px;
  height: 115px;
  bottom: -70px;
  left: 20px;
}
@media (min-width: 768px) {
  .video {
    margin-bottom: 40px;
    padding-top: 0;
    padding-right: 60px;
    padding-bottom: 0;
    padding-left: 60px;
  }
  .video__title {
    width: auto;
    margin-bottom: 27px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
  }
  .video__title-wrapper {
    padding-top: 66px;
    padding-right: 116px;
    padding-bottom: 73px;
    padding-left: 116px;
  }
  .video__poster {
    display: block;
    max-width: 100%;
    height: auto;
    background-image: url("../img/video-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .video__controls {
    width: 648px;
    bottom: -16px;
    left: 160px;
  }
}
@media (min-width: 1200px) {
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 88px;
    padding: 0;
  }
  .video__title {
    margin-bottom: 25px;
  }
  .video__title-wrapper {
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 70px;
    padding-left: 0;
  }
  .video__poster {
    width: 800px;
    height: 500px;
  }
  .video__description {
    width: 420px;
  }
}
.control__range {
  position: relative;
  height: 24px;
  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 0;
  padding-right: 24px;
  background-color: rgba(0, 0, 0, 0.6);
}
.control__scale {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.control__toggle {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 20px;
  left: 58px;
  padding: 0;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.control__toggle:focus {
  outline: 2px dashed #ffffff;
  outline-offset: 2px;
}
.control__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
  background-color: #f2f2f2;
}
.control__replay {
  display: block;
  height: 22px;
  margin-right: auto;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.control__replay-button {
  width: 18px;
  height: 22px;
  fill: #5c6870;
}
.control__replay:hover .control__replay-button {
  fill: #333333;
}
.control__replay:active .control__replay-button {
  fill: rgba(51, 51, 51, 0.3);
}
.control__subtitles {
  height: 22px;
  margin-right: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.control__subtitles-button {
  width: 32px;
  height: 22px;
  padding: 0;
  fill: #5c6870;
}
.control__subtitles:hover .control__subtitles-button {
  fill: #333333;
}
.control__subtitles:active .control__subtitles-button {
  fill: rgba(51, 51, 51, 0.3);
}
.control__fullscreen {
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.control__fullscreen-button {
  width: 21px;
  height: 22px;
  padding: 0;
  fill: #5c6870;
}
.control__fullscreen:hover .control__fullscreen-button {
  fill: #333333;
}
.control__fullscreen:active .control__fullscreen-button {
  fill: rgba(51, 51, 51, 0.3);
}
@media (min-width: 768px) {
  .control {
    position: absolute;
    width: 648px;
    height: 91px;
    bottom: 0;
    left: 60px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .control__options {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 35px;
    right: 0;
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 37px;
    background-color: rgba(255, 255, 255, 0);
  }
  .control__range {
    position: absolute;
    top: 40px;
    right: 161px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .control__scale {
    position: relative;
    width: 395px;
    top: 5px;
    right: 0;
  }
  .control__toggle {
    top: 3px;
    left: 113px;
  }
  .control__replay {
    background-color: rgba(0, 0, 0, 0);
  }
  .control__replay-button {
    fill: #ffffff;
  }
  .control__replay:hover .control__replay-button {
    fill: rgba(255, 255, 255, 0.6);
  }
  .control__replay:active .control__replay-button {
    fill: rgba(255, 255, 255, 0.3);
  }
  .control__subtitles {
    background-color: rgba(0, 0, 0, 0);
  }
  .control__subtitles-button {
    fill: #ffffff;
  }
  .control__subtitles:hover .control__subtitles-button {
    fill: rgba(255, 255, 255, 0.6);
  }
  .control__subtitles:active .control__subtitles-button {
    fill: rgba(255, 255, 255, 0.3);
  }
  .control__fullscreen {
    background-color: rgba(0, 0, 0, 0);
  }
  .control__fullscreen-button {
    fill: #ffffff;
  }
  .control__fullscreen:hover .control__fullscreen-button {
    fill: rgba(255, 255, 255, 0.6);
  }
  .control__fullscreen:active .control__fullscreen-button {
    fill: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1200px) {
  .control {
    position: absolute;
    width: 800px;
    height: 91px;
    left: 200px;
  }
  .control__options {
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 37px;
  }
  .control__scale {
    top: 5px;
    width: 545px;
  }
  .control__toggle {
    left: 110px;
  }
}
.form__fieldset {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__fieldset--name {
  margin-bottom: 17px;
  padding-top: 0;
  padding-bottom: 26px;
  font-family: inherit;
  font-size: 18px;
}
.form__fieldset--contacts {
  margin-bottom: 16px;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.form__fieldset--visited {
  margin-bottom: 18px;
  padding-top: 15px;
  padding-bottom: 41px;
}
.form__fieldset--impression {
  margin-bottom: 19px;
  padding-bottom: 42px;
}
.form__legend {
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
.form__legend--name {
  margin-top: 0;
  margin-bottom: 20px;
}
.form__legend--contacts {
  margin-bottom: 18px;
}
.form__legend--visited {
  margin-bottom: 15px;
}
.form__legend--impression {
  margin-bottom: 36px;
}
.form__emotions-wrapper {
  padding: 0 20px;
}
.form__list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__label {
  height: 26px;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  cursor: pointer;
}
.form__label--name {
  font-size: 14px;
  line-height: 26px;
  margin-right: 15px;
  color: #333333;
  text-transform: uppercase;
}
.form__label--contacts {
  width: 260px;
  margin-left: 23px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.form__item--impression {
  padding-top: 0;
  margin-bottom: 43px;
}
.form__item--impression:last-child {
  margin-bottom: 0;
}
.form__item--visited {
  padding-top: 0;
  margin-bottom: 54px;
}
.form__item--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.form__item--name:last-child {
  margin-bottom: 0;
}
.form__item--visited:last-child {
  margin-bottom: 0;
}
.form__item--contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 11px;
}
.form__item--contacts:last-child {
  margin-bottom: 0;
}
.form__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__label--impression {
  font-weight: bold;
  text-transform: none;
  padding-left: 77px;
}
.form__label--visited {
  font-weight: bold;
  text-transform: none;
  padding-left: 77px;
}
.form__input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__input:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.form__input:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #e5e5e5;
}
.form__input::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: bold;
  color: #000000;
}
.form__input:-ms-input-placeholder {
  font-family: inherit;
  font-weight: bold;
  color: #000000;
}
.form__input::-ms-input-placeholder {
  font-family: inherit;
  font-weight: bold;
  color: #000000;
}
.form__input::placeholder {
  font-family: inherit;
  font-weight: bold;
  color: #000000;
}
.form__input--name {
  width: 100%;
  min-width: 0;
  min-height: 58px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
}
.form__input--contacts {
  width: 222px;
  min-height: 58px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 20px;
  min-width: 0;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
}
.form__input:focus ~ .form__label::before {
  outline: 1px dotted #000000;
}
.form__input-radio + .form__label--impression::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.form__input-radio + .form__label--impression:hover::before {
  background-color: #e5e5e5;
}
.form__input-radio + .form__label--impression:active::before {
  background-color: #d5d5d5;
}
.form__input-radio:checked + .form__label--impression::before {
  background-color: #f2f2f2;
}
.form__input-radio:checked + .form__label--impression:hover::before {
  background-color: #e5e5e5;
}
.form__input-radio:checked + .form__label--impression:active::before {
  background-color: #d5d5d5;
}
.form__input-radio:disabled + .form__label--impression::before {
  background-color: #d5d5d5;
}
.form__input-radio:checked + .form__label--impression::after {
  content: " ";
  position: absolute;
  top: 16px;
  left: 28px;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333333;
}
.form__input-radio:checked + .form__label--impression:active::after {
  opacity: 0.3;
}
.form__input-radio:checked:disabled + .form__label--impression::after {
  content: "";
  position: absolute;
  top: 13px;
  left: -49px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0.4;
}
.form__input-checkbox + .form__label--visited::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -2px;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.form__input-checkbox:checked + .form__label--visited::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
}
.form__input-checkbox:checked + .form__label--visited:active::before {
  background-image: url("../img/icon-tick-active.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 55px;
  height: 55px;
  background-color: #d5d5d5;
}
.form__input-checkbox + .form__label--visited:hover::before {
  background-color: #e5e5e5;
}
.form__input-checkbox + .form__label--visited:active::before {
  background-color: #d5d5d5;
}
.form__input-checkbox:checked + .form__label--visited:hover::before {
  background-color: #e5e5e5;
}
.form__input-checkbox:disabled + .form__label--visited::before {
  background-color: #d5d5d5;
}
.form__input-checkbox:disabled:checked + .form__label--visited::before {
  background-image: url("../img/icon-tick-disabled.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 55px;
  height: 55px;
  background-color: #d5d5d5;
}
.form__input-icon-phone {
  width: 58px;
  height: 58px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
}
.form__input-icon-mail {
  width: 58px;
  height: 58px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
}
.form__review-field {
  width: 99%;
  min-height: 160px;
  margin-top: 0;
  margin-bottom: 46px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__review-field::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__review-field:-ms-input-placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__review-field::-ms-input-placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__review-field::placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__label--textarea {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 17px;
}
.form__review-field:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.form__review-field:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #e5e5e5;
}
.form__legend-sup {
  display: none;
  color: #333333;
}
@media (min-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .form__fieldset {
    width: 265px;
    padding: 0;
    border-bottom: none;
  }
  .form__fieldset--name {
    margin-bottom: 70px;
  }
  .form__fieldset--impression {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-bottom: 0;
  }
  .form__fieldset--contacts {
    width: 100%;
    margin-bottom: 53px;
    text-align: center;
  }
  .form__fieldset--visited {
    width: 100%;
    margin-bottom: 74px;
    text-align: center;
  }
  .form__legend {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 21px;
    text-align: left;
  }
  .form__legend--contacts {
    margin-bottom: 20px;
  }
  .form__legend--visited {
    margin-bottom: 53px;
    text-align: center;
  }
  .form__legend--impression {
    width: 290px;
    margin-bottom: 68px;
  }
  .form__list {
    width: auto;
    padding: 0;
  }
  .form__list--visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-left: 0;
    padding: 0 95px;
  }
  .form__label {
    margin-bottom: 0;
  }
  .form__label--contacts {
    margin-bottom: 10px;
  }
  .form__label--visited {
    width: auto;
    padding-left: 73px;
    margin-left: 5px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }
  .form__item--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin-bottom: 22px;
    text-align: left;
  }
  .form__item--impression {
    margin-bottom: 55px;
  }
  .form__item--visited {
    width: 200px;
    margin: 0;
    padding: 0;
    margin-bottom: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__item--visited:nth-child(3) {
    margin-bottom: 0;
  }
  .form__input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__input--contacts {
    width: 590px;
  }
  .form__emotions-wrapper {
    width: 100%;
    padding: 0;
  }
  .form__label--textarea {
    font-size: 21px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 57px;
    margin-left: 0;
  }
  .form__review-field {
    width: 100%;
    margin-bottom: 56px;
    padding-top: 14px;
  }
  .form__legend-sup {
    display: block;
    width: 160px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: normal;
    float: right;
  }
  .form__text-stroke {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__text-stroke::before,
  .form__text-stroke::after {
    content: "";
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 19%;
    height: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 65px;
  }
  .form__legend {
    text-align: left;
  }
  .form__legend--impression {
    margin-bottom: 71px;
    padding-left: 81px;
  }
  .form__legend--tablet-width {
    margin-left: 140px;
    text-align: center;
  }
  .form__legend--contacts {
    margin-bottom: 72px;
  }
  .form__text-stroke::before,
  .form__text-stroke::after {
    width: 29%;
  }
  .form__label-hidden {
    display: none;
  }
  .form__label {
    margin: 0;
  }
  .form__label--visited {
    margin-left: 2px;
    padding-left: 78px;
  }
  .form__label--name {
    margin-right: 15px;
  }
  .form__fieldset {
    width: 400px;
  }
  .form__fieldset--contacts {
    width: 100%;
    margin-bottom: 55px;
  }
  .form__fieldset--visited {
    width: 100%;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .form__item--impression {
    margin-bottom: 53px;
  }
  .form__list--desktop {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  .form__list--visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .form__legend--visited {
    margin-bottom: 54px;
    text-align: center;
  }
  .form__item--visited {
    width: auto;
    margin: 0;
    margin-bottom: 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .form__item--visited:nth-child(3) {
    margin-bottom: 35px;
  }
  .form__item--visited:last-child {
    margin-bottom: 35px;
  }
  .form__item--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .form__label--contacts {
    width: auto;
    margin-right: 15px;
  }
  .form__input-radio + .form__label--impression::before {
    left: 4px;
  }
  .form__input-radio:checked + .form__label--impression::after {
    top: 14px;
    left: 32px;
  }
  .form__input--contacts {
    width: 258px;
  }
  .form__emotions-wrapper {
    width: 100%;
  }
  .form__label--textarea {
    margin-bottom: 57px;
  }
  .form__review-field {
    margin-bottom: 53px;
  }
}
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 34px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.page-footer__hashtag {
  margin-bottom: 35px;
}
.page-footer__social {
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 60px;
  }
  .page-footer__hashtag {
    margin-bottom: 0;
  }
  .page-footer__social {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 36px;
    padding-right: 120px;
    padding-bottom: 35px;
    padding-left: 120px;
  }
}
.hashtag__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.copyright {
  position: relative;
  background-color: #ffffff;
}
.copyright__text {
  margin-right: 40px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}
.copyright__link {
  display: block;
  position: absolute;
  top: -3px;
  left: 102px;
}
.copyright__link:hover {
  fill: #81b3d2;
}
.copyright__link:active {
  fill: rgba(0, 0, 0, 0.3);
}
.copyright__link-logo {
  width: 30px;
  height: 36px;
}
@media (min-width: 768px) {
  .copyright__link {
    top: -2px;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__item {
  margin-right: 6px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social__link--twitter::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  top: 16px;
  left: 14px;
  background-image: url("../img/icon-twitter.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.social__link--twitter:active::before {
  opacity: 0.3;
}
.social__link--facebook::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  top: 14px;
  left: 17px;
  background-image: url("../img/icon-facebook.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.social__link--facebook:active::before {
  opacity: 0.3;
}
.social__link--youtube::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  top: 17px;
  left: 13px;
  background-image: url("../img/icon-youtube.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.social__link--youtube:active::before {
  opacity: 0.3;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
@media (min-width: 768px) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal--failure {
  display: none;
}
.modal--success {
  display: none;
}
.modal__wrapper--failure {
  padding-top: 45px;
  padding-right: 56px;
  padding-bottom: 35px;
  padding-left: 56px;
}
.modal__wrapper--success {
  padding-top: 42px;
  padding-right: 53px;
  padding-bottom: 33px;
  padding-left: 50px;
}
.modal__notice {
  margin: 0;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.modal__notice--failure {
  width: 220px;
}
.modal__information {
  margin: 0;
  text-transform: uppercase;
  color: #333333;
}
.modal__information--failure {
  margin-bottom: 30px;
}
.modal__button-wrapper {
  padding: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .modal--failure {
    width: 400px;
  }
  .modal__wrapper--failure {
    padding-top: 55px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 63px;
  }
  .modal-information--failure {
    width: 280px;
  }
  .modal--success {
    width: 640px;
  }
  .modal__notice {
    font-size: 30px;
    line-height: 26px;
  }
  .modal__notice--failure {
    line-height: 40px;
  }
  .modal__wrapper--success {
    padding-top: 60px;
    padding-right: 110px;
    padding-bottom: 35px;
    padding-left: 110px;
  }
  .modal__button-wrapper {
    background-color: #f2f2f2;
    padding: 45px 95px;
  }
}
